@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* background-color: #222831;
    color: white; */
}

input[type="password"],
input[type="email"],
input[type="text"] {
    @apply w-full border my-2 rounded-2xl py-2 px-3 text-black;
}

.active-route {
    @apply bg-primary text-white rounded-full
}

label:has(>input[type="checkbox"]:checked) {
    @apply border-primary text-primary bg-blue-100
}

input[type="checkbox"]:checked+svg path {
    @apply text-primary
}


.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* margin: 0; */
}

.remove-arrow {
    -moz-appearance: textfield;
}